<ion-header>
  <ion-navbar>
  <ion-title>//TODO:</ion-title>
    <ion-buttons end>
    <button ion-button end color="primary" (click)="addTaskModal()">
      Add
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-list inset>
    <ion-item-sliding color="primary" *ngFor="let user of users">   <!--Display each user in users in a list->
      <ion-item>
        <h2>{{user.Username}}</h2>
        <p>{{user.Email}}</p>
    </ion-item>
      <ion-item-options side = "right">
        <button ion-button color="danger">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  -->
  <ion-list inset>
    <ion-item-sliding color="light" *ngFor="let task of tasks"> <!--Display each task belonging to a user-->
      <ion-item>
        <h2>{{task.Title}}</h2>
        <p>{{task.Category}}</p>
        <p>{{task.Time | date:'h:mm a, dd/MM/yyyy'}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="primary">Edit</button>
        <button ion-button color="danger">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
