<!--
  Generated template for the AddTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Add a new task</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="addTask()">
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [(ngModel)]="task.title" name="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" placeholder="Optional"[(ngModel)]="task.description" name="Description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Time</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY h:mmA" min="2018" max="2118" [(ngModel)]="task.time" name="Time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-input type="text" placeholder="3" [(ngModel)]="task.category" name="Category"></ion-input>
    </ion-item>
    <ion-footer>
      <button ion-button type="submit" style="width: 100%;">Add</button>
    </ion-footer>
  </form>

</ion-content>
